<%- include('header.ejs') %>
<div class="container">
    <!-- dislpaying the error's passed from server side -->
    <h2><%= error %></h2>
    <h3>Bad request!</h3>
    <p>Error Status code: 400</p>
    <button class="home-btn"><a href="/">Home</a></button>
</div>

<%- include('footer.ejs') %>

