<footer>
    <ul>
        <li class="ms-3"><a class="text-body-secondary" href="www.linkedin.com/in/daneshwar-verma"><img src="/images/linkdin.svg" alt=""></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/thedanesh7/"><img src="/images/instagram.svg" alt=""></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="https://github.com/DaneshVerma"><img src="/images/github.svg" alt=""></a></li>
      </ul>
      <p>Website by- Danesh Verma</p>
      <p>API Used- cleanuri.com</p>

</footer>
</body>
</html>
